h1 {
    text-align: center;
    color: antiquewhite;
}
h2 {
    color: antiquewhite;
}
body {
    background-color: black;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp2279395.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p {
    color: antiquewhite;
}
.description {
    width: 600px;
    margin: auto;
    padding-bottom: 20px;
}