h1 {
    text-align: center;
    color: antiquewhite;
}
h2 {
    color: antiquewhite;
}
h3 {
    color: antiquewhite;
}
body {
    background-color: black;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp2279395.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p {
    color: antiquewhite;
}
.description {
    border-style: double;
    border-color: gold;
    width: 600px;
    margin: auto;
    padding: 10px;
}
.imgPad {
    padding-top: 20px;
}

.button {
    cursor: pointer;
}  
footer {
   position:fixed;
   left: 500px;
   bottom:165px;
   height:30px;
   width:100%;
   text-emphasis-color:antiquewhite;
}
.footerlinks {
    color: aqua;
}

/* just updating to confirm github receiving new data */
